@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* ========= NAVBAR ================ */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--gray);
}
:root {
  --gray: #f4f6ff;
  --purple: #9b6fcc;
  --purple-d: #8853c4;
}
.navbar {
  display: flex;
  padding: 1.3rem 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100vw;
  box-shadow: 0px 0.5px 7px rgba(0, 0, 0, 0.183);
}
.gen-button {
  text-decoration: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: var(--purple-d);
  color: white;
  padding: 0.7rem 1.5rem;
  margin-right: 2rem;
}
.gen-button:active {
  background-color: var(--purple);
}
.logo {
  margin-left: 2rem;
  display: flex;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  align-items: center;
}
.logo img {
  /* margin-top: -4px; */
  width: 3rem;
  height: 3rem;
}
.hero {
  display: flex;
  height: auto;
  gap: 3rem;
  background: url("/img/hero-bg.jpg") center/cover no-repeat;
}
.hero .first {
  padding: 2rem;
  line-height: 2rem;
  width: 50%;
}
.hero .first p {
  font-size: 1.2rem;
}
.hero .first h1 {
  font-size: 3rem;
  line-height: 4rem;
}
.hero .second {
  width: 50vw;
}
.hero .second img {
  width: 85%;
}
.heading{
  font-size: 2rem;
  padding: 1rem 0;
  font-weight:700;
  text-align: center;
}
.first-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first-section img {
  width: 30rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  background: #d4d4d4;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer .list {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.bar {
  text-align: center;
  font-size: 0.7rem;
  padding: 0.4rem;
  background-color: #3a3a3a;
  color: white;
}
.footer-logo {
  font-weight: bold;
  font-size: 1rem;
}

/* ========================= MEDIA QUERIES ========================= */

@media only screen and (max-width: 600px) {
  nav .gen-button {
    display: none;
  }
  .logo {
    margin-left: 0.9rem;
    display: flex;
    gap: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
  }
  .logo img {
    margin-top: -4px;
    width: 3rem;
    height: 3rem;
  }
  .navbar {
    padding: 0.9rem 0;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero .first p {
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
  }

  .hero .first h1 {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
  .hero .first {
    padding: 0.9rem;
    line-height: 1.2rem;
    font-size: 10px;
    width: 90vw;
  }
  .hero .second {
    width: 100vw;
  }
  .hero .second img {
    width: 90%;
  }
  .heading{
    font-size: .9rem;
    padding: .5rem 0;

  }
  .first-section {
    padding: 1rem;
    font-size: 0.6rem;
    flex-direction: column-reverse;
    text-align: left;
  }
  .first-section img {
    width: 15rem;
  }
  .footer {
    font-size: 0.7rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 2fr 2fr;
  }
  .bar {
    font-size: 0.4rem;
  }
}
